################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkWhere/.vs/WorkWhere/FileContentIndex
